<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Page</title>
</head>
<body>
    <h2> Upload File</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    <h2> Check File</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'check'%}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Check</button>
    </form>
</body>
</html>