<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items list</title>
</head>
<body>
{% if items_list %}
  <table border="1">
    <tbody>
    <tr>
      <td>Name</td>
      <td>Code</td>
      <td>Price</td>
    </tr>

    {% for item in items_list %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.price }}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
{% else %}
  <h3>No items</h3>
{% endif %}
</body>
</html>